* {
	box-sizing: border-box;

}

.Navigation, .initabTitle, .NewsFeed, .JSdayfeed, .github-header, #tabs,
.github-issue, .github-pull-requests {
		font-family: 'Roboto Mono', sans-serif;
}

h1 {
	font-size: 16px;
	font-weight: 100;
	letter-spacing: -1px;
}

h2 {
	font-size: 14px;
	font-weight: 100;

}

.SocialMedia {
	font-size: 14px;
	font-weight: 100;
	letter-spacing: -1px;
}

::-webkit-scrollbar {
	width: 0px;
}

.grid-container {
	display: grid;
	grid-template-columns: 150px 3fr 5fr 3fr;
	background-color: #282a36!important;
	width: 100vw;
	height: 100vh;
}

.grid-container > div {
	padding: 5px;
}


/*Navigation*/


.Navigation {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 6;
	background-color: #44475a!important;
}


.settings-header, .gists-header, .stack-overflow-header, .trending-header, .scratch-pad-header,
.playground-header, .helpIntro-header {
	font-size: 0.75em;
	letter-spacing: -1px;
}



.Navigation i {
	color: #44475a;
}

.Navigation div {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	justify-content: space-between;
}

.Navigation div:hover {
	cursor: pointer;
}

.Navigation > div > * {

	display: inline;
}

.fa-wrench {
	background-color: #8be9fd!important;
	height: 20px;
	width: 20px;
	padding: 3px;
	border-radius: 3px;
}

.settings-header {
	color: #8be9fd!important;
}

.fa-code {
	background-color: #50fa7b!important;
	height: 20px;
	width: 15px;
	padding: 3px 1px 3px 1px;
	border-radius: 3px;
}

.gists-header {
	color: #50fa7b!important;

}

.fa-stack-overflow {
	background-color: #ffb86c!important;
	height: 20px;
	width: 20px;
	padding: 3px 5px 4px 5px;
	border-radius: 3px;
}

.stack-overflow-header {
	color: #ffb86c!important;
}

.fa-chart-line {
	background-color: #ff79c6!important;
	height: 20px;
	width: 20px;
	padding: 3px;
	border-radius: 3px;
}

.trending-header {
	color: #ff79c6!important;

}

.fa-pencil-alt {
	background-color: #bd93f9!important;
	height: 20px;
	width: 20px;
	padding: 3px;
	border-radius: 3px;
}

.scratch-pad-header {
	color: #bd93f9!important;

}

.fa-lightbulb {
	background-color: #f8f8f2!important;
	height: 20px;
	width: 20px;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
}

.playground-header {
	color: #f8f8f2!important;

}

.fa-lock {
	color: #f8f8f2!important;
}

.fa-question {
	background-color: #e6db74!important;
	height: 20px;
	width: 20px;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
}

.helpIntro-header {
	color: #e6db74;

}

/*LOGO AND SOCIAL MEDIA*/

.initab {
	position: absolute;
	bottom: 5%;
	display: inline-block;
	float: inherit;
	z-index: 1;
}

.initab-logo {
	width: 100px;
	height: 50px;
	margin-left: 15px;
	margin-bottom: 5px;
}

.initab-logo:hover path{
	fill: #e6db74;
}

.SocialMedia {
	position: absolute;
	bottom: 0;
	display: inline-block;
}


.fa-gitlab {
	width: 25px;
	height: 25px;
	padding: 6px;
	background-color: rgb(0,119,181);
	color: rgb(255, 255, 255)!important;
	border-radius: 50%;
}


.SocialMedia .fa-github-alt {
	width: 25px;
	height: 25px;
	padding: 6px;
	background-color: #4078c0;
	color: rgb(255, 255, 255)!important;
	border-radius: 50%;
}

.logo {
	float: none;
}


/* Popular on R/JAVASCRIPT, Relvant JS history and Github issues history Tittle */
.initabTitle {
  color: #8be9fd;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-size: 0.85em;

}

.initabTitle i {
margin-left: 10px;
padding-top: 10px;
}

.initabTitle > i {
margin: 5px;

}




/*Reddit NewsFeed (Popular on R/Javascript) */

.Reddit {
  grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 6;
	overflow: auto;
	max-height: 100vh;
	display: block;
  margin-left: 20px;
}


.Scores {
  color: #535877;
}
.News {
height: 30em;
overflow: scroll;
overflow-x: hidden;
width: 333.6px;
font-size: 0.80em;

}


.Newstext {
color: white;
font-size: 1em;

}
.Sponsored {
color: #ff79c6;
}

.Sponsored a {
 color: #f1fa8c;
}

.Posted  {
color: #8be9fd;
}

.NewsRedditz {
color:  #f1fa8c;
}



/*Relevant Javascript History*/
.JShistory {
  grid-column-start: 3;
  	grid-column-end: 4;
  	grid-row-start: 1;
  	grid-row-end: 3;
    overflow: scroll;
    overflow-x: hidden;
  	max-height: 40vh;
  	display: block;
  	border-bottom: 1px solid #44475a;
}

.button-main {
    background-color: white;
    border: none;
    color: lightblue;
}

#history {
  height: 20vh;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  border-bottom: 2px solid #44475a;
}


#history .JSdayfeed {
  display: flex;
  justify-content: space-between;
}

.js-history {
  font-size: 0.85em;
  padding-bottom: 1.6em;
  padding-left: 0.8em;
}
.js-history a {
  color: #6272a4;
}

.dayfeed {
  color: #858794;
  font-size: 0.75em;

}

/*Time and Date*/
.times {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 6;
  margin-bottom: 110px;
  margin-top: -120px;
}

.clock {
	color: #6272A4;
	display: block;
	text-align: center;
	vertical-align: middle;
}

.hour-minute {
	font-size: 120px;
	letter-spacing: -1px;
	font-family: sans-serif!important;
}

.amPm {
	font-size: 30px;
	font-family: sans-serif!important;

}

.date > span {
	font-size: 20px;
  font-weight: lighter;
	font-family: sans-serif!important;
}

.NotDisplay {
	display: block;
  margin-top: 20px;
	text-align: center;
	font-family: sans-serif;
  font-weight: 100;
  font-size: 12px;
	color: #6272A4;
}

.NotDisplay:hover {
	cursor: pointer;
}

.NotDisplay .fa-question-circle {
	color: #ffb86c;
	margin-right: 5px;
}

.NotDisplay-btn {
	color: #ffb86c;
	font-size: 14px;
}

.NotDisplay-btn .fa-times-circle {
	margin-right: 5px;
}

/*Github Issues  */


#github-content {
  display: flex column;
  max-width: 300px;
  overflow: hidden;

}
#github-content .github-header h4 {
  padding-bottom: 0.2em;
}
#github-content .github-header a {
  font-size: 0.75em;
}
.switch-gitlab {
  height: 14vh;
  margin: -0.9em;
  padding-left: 8em;
  padding-right: 1em;
  color: #535877;
}

/* Github ISSUES AND Pull Requests */

#tabs {
  display: flex;
  justify-content: center;
  word-spacing: -5px;
  transform: translateY(-10%);
	margin-top: 35px;
}
#issues, #pullrequests {
  font-size: 0.8em;
}
#issues {
  color: #f1fa8c;
}
#pullrequests {
  padding-left: 20px;
  color: #ff79c6;
}
.toggle-button {
  display: flex column;
}
.toggle-button p {
  text-align: center;
  transform: translateY(-50%);
}
#issues-tabs {
  color: #f1fa8c;
}
#pull-requests-tabs {
  color: #ff79c6;
  visibility: hidden;
}

/* Github issues history feed */

.github-menubar {
  border-bottom: 1px solid #44475a;
  height: 327px;
  margin-top: 0.3em;
  margin-left: 0.81em;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.github-menubar .github-issue {
  margin: 0.8em;
  margin-bottom: 3.2em;
  padding-left: 0.8em;
  color: #f8f8f2;
  border-left: 3px solid #44475a;
  font-size: 0.735em;
}
.github-menubar .github-pull-requests {
  display: none;
  margin: 0.8em;
  margin-bottom: 3.2em;
  padding-left: 0.8em;
  color: #a1a160;
  border-left: 3px solid #44475a;
  font-size: 0.735em;
}

.issue-notes {
  padding: 0.43em;
  color: 	#f1fa8c;
}


.pull-requests-notes {
  padding: 0.43em;
  color: #ff79c6;
}



.repo {
  color: #6272a4;
}



/* Advertisements */
.Advertisements {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;
	border-left: 4px solid #44475a;
	margin: 30px;
	display: flex;
	flex-flow: left;
	height: 100px;
}
